fastapi==0.115.4
uvicorn==0.32.0
transformers==4.53.3

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchaudio==2.7.1+cpu

librosa==0.10.2.post1
soundfile==0.12.1
safetensors==0.4.5
numpy==2.1.2
python-multipart==0.0.9
audioread==3.0.1
